<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<div th:fragment="libraries(lib)" class="text-center">
    <p class="btn btn-primary">shelves</p>
    <ul class="libraries-list">
        <a class="link-primary" href="#" th:href="@{'/books/status/reading'}">
            <li class="libraries-list-item " th:text="reading"></li>
        </a><p></p>
        <a class="link-primary" href="#" th:href="@{'/books/status/read'}">
            <li class="libraries-list-item " th:text="read"></li>
        </a><p></p>
        <a class="link-primary" href="#" th:href="@{'/books/status/to_read'}">
            <li class="libraries-list-item " th:text="'to read'"></li>
        </a><p></p>
        <a class="link-primary" href="#" th:href="@{'/books/favorites'}">
            <li class="libraries-list-item " th:text="favorites"></li>
        </a>
    </ul>

    <p class="btn btn-primary">custom shelves</p>
    <ul class="libraries-list" th:each="s: ${shelves}">
        <a class="link-primary" href="#" th:href="@{'/books/' + ${s.id}}">
            <li class="libraries-list-item" th:text="${s.name}"></li>
        </a>
    </ul>

    <div class="text-center">
    <a href="/shelves" class="btn btn-primary">Manage Shelves</a>
</div>


</div>
