<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="/" class="logo-link">
                <span class="link-text logo-text mx-4" th:text="#{label.title}">imReading</span>
                <br>
                <div th:replace="icons/logo" class="logo"></div>
            </a>
        </li>

        <li class="nav-item">
            <a href="/logs/add" class="nav-link">
                <div th:replace="icons/addlog-icon"></div>
                <span class="link-text">add log</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="/logs/all_logs" class="nav-link">
                <div th:replace="icons/book-icon"></div>
                <span class="link-text">read logs</span>
            </a>
        </li>

        <li>
            <hr>

        </li>

        <li class="nav-item">
            <a href="/books/add" class="nav-link">
                <div th:replace="icons/add-icon"></div>
                <span class="link-text">add book</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="/shelves/books" class="nav-link">
                <div th:replace="icons/lib-icon"></div>
                <span class="link-text">library</span>
            </a>
        </li>


        <li class="nav-item" id="themeButton">
            <a href="#" class="nav-link">
                <div th:replace="icons/logout-icon"></div>
                <span class="link-text">Log Out</span>
            </a>
        </li>
    </ul>
</nav>

