<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>

<body>

<div class="container my-sm-5">


    <div th:replace="fragments/navigation">navigation</div>

    <div class="container-fluid p-2 !direction !spacing">

    <div class="col  m-5 text-center">
        <img th:src="${cover}" class="mw-100">
    </div>


    <p class="m-5"></p>

    <div class="row">

<!--TODO would like to make the cover and title float left when on full screen-->
        <div class="text-center">

            <h1 th:text="${title}"></h1>
            <h3 th:text="'By: '+ ${author}"></h3>

            <span th:hidden="${finished} == null">
            <p th:text="'Read from ' + ${#dates.format(started,'dd-MMMM-yyyy')} + ' to ' + ${#dates.format(finished,'dd-MMMM-yyyy')}"></p>
            </span>
            <span th:hidden="${finished} != null">
            <p class="btn-secondary" th:text="'Currently Reading'">Reading</p>
            </span>
        </div>

        <!--        LOGS        -->

        <div th:each="l: ${logs}">

            <div class="row bg-light my-sm-3">

                <div class="row pt-3">
                    <div class="col">
                        <p th:text="${l.mood} + ' • Page: ' +  ${l.page} + ' • Date: ' + ${l.date}"></p>
                    </div>

                    <div class="col-1 text-end">
                        <a th:href="@{/updateLog(id=${l.id})}"
                           class="link-primary p-2">
                            <div th:replace="icons/edit-icon">x</div>
                        </a><a onclick="if(!(confirm('do you want to delete this log?'))) return false"
                               th:href="@{/deleteLog(id=${l.id})}" class="link-primary">
                        <div th:replace="icons/del-icon">x</div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <p th:text="${l.content}"></p>
            </div>

        </div>
    </div>

    </div>
</div>

</body>
</html>