<form class="form">

    <!--    Auto generate options for book currently reading.
    Store the text with date on the correct book.
    -->
    <select name="currently-reading-books" id="cr-books">
        <option value="exmple 1">Book one by Author Name</option>
        <option value="exmple 2">Book two by Author Name</option>
    </select>
    <div class="form-floating my-sm-1 col-xs-2">
    <input type="number" class="form-control col-xs-2" id="page" placeholder="#" value="#">
    <label for="page">Page</label></div>
    <p></p>
    <textarea cols="60" rows="10" class="form-control">Test</textarea>
    <p></p>


    <p></p>
    <input class="form-check-input" type="radio" id="Excited" name="mood" value="1"> Excited</input>
    <input class="form-check-input" type="radio" id="Happy" name="mood" value="2"> Happy</input>
    <input class="form-check-input" type="radio" id="Ok" name="mood" value="3"> Ok</input>
    <input class="form-check-input" type="radio" id="Weird" name="mood" value="4"> Weird</input>
    <input class="form-check-input" type="radio" id="Sad" name="mood" value="5"> Sad</input>
    <input class="form-check-input" type="radio" id="Scary" name="mood" value="6"> Scary</input>
    <input class="form-check-input" type="radio" id="Annoying" name="mood" value="7"> Annoying</input>
    <p></p>
    <input type="submit" value="submit" class="btn btn-primary"/>
</form>
