<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>
<body>

<div class="container my-sm-5">

    <p></p>

    <div th:replace="fragments/main-navigation">navigation</div>


    <div class="container-fluid p-5 !direction !spacing">

        <div class="row">

            <div th:each="b: ${books}"
                 class="col-md-2 col-sm-2 col-lg-2 col-xs-2 col-xl-2 control-label text-center mb-4"
                 style="border:0px solid #000000;min-width:200px;">
                <a href="#" th:href="@{'/logs/' + ${b.id}}"><img class="img-responsive" th:src="${b.thumbnailUrl}"
                                                                 width="150vh " alt="${b.title}"></a>
                <p></p>
                <p th:text="${b.title}">Title of book</p>
                <p th:text="'By: ' + ${b.author}">by Author Name</p>
                <p th:text="'Started on: ' + ${#dates.format(b.startDate,'dd-MMMM-yyyy')}">13/01/2011</p>



                <a onclick="if(!(confirm('delete book and logs?'))) return false"
                   th:href="@{/deleteBook(id=${b.id})}"
                   class="link-primary">
                    ❌
                </a>  <a th:href="@{/updateBook(id=${b.id})}"
                          class="link-primary">
                ✏
            </a>
            </div>

        </div>
    </div>


</div>
</body>
</html>