<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>
<body>

<div class="container my-sm-5">

    <p></p>
    <div th:replace="fragments/main-navigation">navigation</div>
    <hr>

    <div class="row">


<!--         HEADER         -->
        <div class="col-1  me-5 text-sm-center float-start">
            <img th:src="${cover}" class="mw-100">
        </div>
        <div class="col-10  me-5 text-sm-center float-end">
            <h1 th:text="${title}"></h1>
            <h3 th:text="'By: '+ ${author}"></h3>
            <p th:text="${status} + ' from ' + ${started} + ' to ' + ${finished}"></p>
        </div>


<!--        LOGS        -->

        <div th:each="l: ${logs}" >

            <div class="row bg-light my-sm-3">
                <p th:text="${l.mood} + ' • Page: ' +  ${l.page} + ' • Date: ' + ${l.date}"></p>
            </div>
            <div class="row">
                <p th:text="${l.content}"></p>
            </div>
        </div>
    </div>


</div>
</div>


</body>
</html>