<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>

    Title: <span th:text="${title}">title</span>
    <br/><br/>
    Author: <span th:text="${author}">author</span>
    <br/><br/>
    Cover URL: <span th:text="${cover}">author</span>

    <br/><br/>
    <a href="/">Back</a>
</body>
</html>