<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>
<body>

<div class="container my-sm-5">

    <p></p>
    <div th:replace="fragments/navigation">navigation</div>


    <div class="libraries-list ">

         <table class="table table-sm w-50 mt-5 table-bordered table-hover">
             <thead class="table-light">
                <tr class="text-center">
                    <th scope="col">Shelf Name</th>
                    <th scope="col">Books</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                <tbody th:each="s: ${shelves}">
                <tr>
                    <td class="col-5 text-center">
                        <a class="link-primary" href="#" th:href="@{'/books/' + ${s.id}}">
                            <li class="libraries-list-item" th:text="${s.name}"></li>
                        </a>
                    </td>
                    <td class="col-1 text-center">
<!--                        TODO count books inside shelf-->
<!--                        <p th:text="${books.size}"></p>-->
                    </td>
                    <td class="col-1  text-center">
                        <a th:href="@{/bulk-edit-shelf(id=${s.id})}"
                           class="link-primary p-2" alt="delete ${s.name}">
                            <div th:replace="icons/edit-icon">update</div>
                        </a>
                    </td>
                    <td class="col-1  text-center">
                        <a onclick="if(!(confirm('delete shelf?'))) return false"
                           th:href="@{/deleteShelf(id=${s.id})}"
                           class="link-primary p-2">
                            <div th:replace="icons/del-icon">delete</div>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        <div th:replace="fragments/add-shelf">navigation</div>


    </div>


</div>
</body>
</html>