<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>

<body>

<div class="container my-5 pt-5">


    <div th:replace="fragments/navigation">navigation</div>

    <h2 class="text-secondary bg-light rounded-4 ps-2 mt-5">add a new log</h2>


    <form class="form my-sm-5" method="post" th:action="@{/logs/save}" th:object="${logEntity}">

        <input type="hidden" th:field="*{id}"/>

        <div class="row">
            <div class="col-sm">
                <select th:field="*{bookId}" class="form-control col-md-2 my-sm-1 col-xs-2"
                        name="currently-reading-books" id="cr-books">
                    <option th:each="b : ${books}" th:value="${b.id}" th:text="${b.title}"></option>
                </select>

            </div>
            <p></p>
        </div>


        <p></p>
        <textarea type="text" th:field="*{content}" autocomplete="off" cols="60" rows="10"
                  class="content">Test</textarea>
        <p></p>
        <div class="row my-sm-5">
            <div class="col-sm  col-lg-1">

                <div class="form-floating mb-4">
                    <input type="number" th:field="*{page}" class="form-control" id="page" placeholder="#" value="#">
                    <label for="page">page</label>
                </div>
            </div>

            <div class="col-sm col-lg-1">
                    <div class="form-floating" data-toggle="tooltip" data-placement="bottom" title="use emojis! 😁 or up to 10 chars">
                        <input type="text" maxlength="15" th:field="*{mood}" class="form-control " name="mood"
                               id="moods">
                        <label for="moods">reaction</label>
                    </div>

            </div>

            <div class="col-sm">

            </div>

            <div class="col-sm"></div>
            <div class="col-sm align-text-bottom form-floating-match">
                <input th:field="*{date}" type="date" class="form-control" id="date"/>
            </div>
            <div class="col-sm form-floating-match col-lg-1 text-sm-end">
                <input type="submit" value="submit" class="btn btn-primary "/>
            </div>
            <p></p>
        </div>
    </form>
    <p></p>

</div>
</body>
</html>
