<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>
<body>

<div class="container my-sm-5">

    <p></p>
    <div th:replace="fragments/main-navigation">navigation</div>
    <hr>

    <div class="row" th:each="l: ${logs}">

            <div class="col">

                <p th:text="${log.book}"></p>
                <p th:text="${log.mood}"></p>
                <p th:text="${log.page}"></p>
                <p th:text="${log.date}"></p>

                <div th:each="b: ${books}"
                     class="col-md-2 col-sm-2 col-lg-2 col-xs-2 col-xl-2 control-label text-center mb-4"
                     style="border:0px solid #000000;min-width:200px;">
                    <img class="img-responsive" th:src="${b.thumbnailUrl}" width="150vh " alt=" ">
                    <p></p>
                    <p th:text="${b.title}">Title of book</p>
                    <p th:text="'By: ' + ${b.author}">by Author Name</p>
                    <p th:text="'Started on: ' + ${b.startDate}">Started Date</p>
                </div>
            </div>

            <div class="col">
                <div th:each="l: ${logs}">

                    <div th:text="${l.content}" scope="row"></div>

                </div>
            </div>
    </div>


    <!--        LOOP    -->


</div>
</body>
</html>