
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<header th:replace="fragments/header :: header">static header</header>
<body>

<div class="container my-sm-5">

  <div th:replace="fragments/main-navigation">navigation</div>





  <main class="container text-center heading-top">

  <h1 class="display-5 fw-bold">Better Reads</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 space-bottom">Control your reading habit. Track the books you read and fuel your reading.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center space-bottom">
      <a type="button" href="/oauth2/authorization/github" class="btn btn-primary btn-lg px-4 gap-3">Login via GitHub</a>
    </div>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 space-bottom">Or search for a book</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <div th:insert="fragments/book-search :: search-panel"></div>
    </div>
  </div>



</main>

</div>
</body>
</html>